{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}
    {{ post.text|truncatechars:30 }}
{% endblock %}
{% block content %}
    <div class="row">
        <aside class="col-12 col-md-3">
            <ul class="list-group list-group-flush">
                <li class="list-group-item" style="background-color: #ececec">
                    Дата публикации: {{ post.pub_date }}
                </li>
                {% if post.group %}
                    <li class="list-group-item" style="background-color: #ececec">

                        Группа:
                        {% if post.group %}
                            <a href="{% url 'posts:group' slug=post.group.slug %}"
                               style="background-color: #ececec">{{ post.group.title }}</a>
                        {% else %}
                            Нет
                        {% endif %}
                    </li>
                {% endif %}
                <li class="list-group-item" style="background-color: #ececec">
                    Автор: <a href="{% url 'posts:profile' username=post.author.username %}">
                    {% if post.author.get_full_name %}
                        {{ post.author.get_full_name }}
                    {% else %}
                        {{ post.author.username }}
                    {% endif %}
                </a>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center"
                    style="background-color: #ececec">
                    Всего записей пользователя: <span>{{ total }}</span>
                </li>
                {% if upd_allowed %}
                    <a class="p-2" href="{% url 'posts:post_edit' post_id=post.id %}">
                        <button class="btn btn-primary">Редактировать</button>
                    </a>
                    <a class="p-2" href="{% url 'posts:post_delete' post_id=post.id %}">
                        <button class="btn btn-danger">Удалить</button>
                    </a>
                {% endif %}
            </ul>
        </aside>
        <article class="col-12 col-md-9">
            <div class="card" style="background-color: #ececec; width: 75%">
                <div class="card-img-top">
                    {% thumbnail post.image "960x339" upscale=True as im %}
                        <img class="card-img my-2" src="{{ im.url }}">
                    {% endthumbnail %}
                </div>
                <div class="card-body">
                    <div class="card-text">
                        {{ post.text|linebreaksbr }}
                    </div>
                </div>
            </div>
        </article>
    </div>
{% endblock %}