{% extends 'base.html' %}
{% block title %}
    Записи сообщества {{ group.title }}
{% endblock %}
{% block content %}
    <main>
        <div class="container">
            <h1>{{ group.title }}</h1>
            <p>{{ group.description }}</p>
            <p>Всего постов: {{ posts.count }}</p>
            <hr>
            <div class="row row-cols-1 row-cols-md-2 g-4">
                {% for post in page_obj %}
                    {% include 'includes/post_in_list.html' %}
                    {% if not forloop.last %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}