{% load static %}
<!-- Использованы классы бустрапа для создания типовой навигации с логотипом -->
<!-- В дальнейшем тут будет создано полноценное меню -->
<nav class="navbar navbar-light sticky-top" style="background-color: #000000">
    <div class="container">
        <!-- ссылка должна вести на главную страницу -->
        <a class="navbar-brand" href="{% url 'posts:index' %}">
            <img src="{% static 'img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
            <!-- тег span используется для добавления нужных стилей отдельным участкам текста -->
            <span style="color:red">Ya</span><span style="color: white">tube</span>
        </a>
        {% with request.resolver_match.view_name as view_name %}
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link link-danger"
                       href="#!">О нас</a>
                </li>
                {% if request.user.is_authenticated %}
                    <form class="d-flex" action="/">
                        <input name="q" class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск"
                               {% if keyword %}value="{{ keyword }}" {% endif %}>
                        <button class="btn btn-light" type="submit">
                            <?xml version="1.0" encoding="UTF-8"?>
                            <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="15"
                                 height="15">
                                <path d="M23.707,22.293l-5.969-5.969a10.016,10.016,0,1,0-1.414,1.414l5.969,5.969a1,1,0,0,0,1.414-1.414ZM10,18a8,8,0,1,1,8-8A8.009,8.009,0,0,1,10,18Z"/>
                            </svg>
                        </button>
                    </form>
                    <li class="nav-item px-1">
                        <div class="nav-item px-1">
                            <div class="btn-group">
                                <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                    {{ user.username }}
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{% url 'users:profile' username=request.user%}">Профиль</a>
                                    </li>
                                    <li><a class="dropdown-item" href="#!">Новая запись</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="#!">Изменить пароль</a></li>
                                    <li><a class="dropdown-item" href="{% url 'users:logout' %}">Выйти</a></li>
                                </ul>
                            </div>
                        </div>
                        {% else %}
                    <li class="nav-item">
                        <a class="nav-link {% if view_name  == 'users:login' %}active{% endif %} link-light"
                           href="{% url 'users:login' %}">Войти</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if view_name  == 'users:signup' %}active{% endif %} link-light"
                           href="#!">Регистрация</a>
                    </li>
                {% endif %}
            </ul>
        {% endwith %}
    </div>
</nav>  