{% extends 'base.html' %}
{% block title %}
    Login
{% endblock %}

{% block content %}
    <div class="container">
        {% load user_filters %}
        <div class="row justify-content-center">
            <div class="col-md-4 p-5">
                <div class="card">
                    <div class="card-body">

                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger">
                                        {{ error|escape }}
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    {{ error|escape }}
                                </div>
                            {% endfor %}
                        {% endif %}

                        <form method="post">
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="form-outline mb-4" aria-required="true">
                                    {{ field }}
                                </div>
                            {% endfor %}

                            <div class="row mb-4">
                                <div class="col d-flex justify-content-center">
                                    <!-- Checkbox -->
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="form2Example31"
                                               checked/>
                                        <label class="form-check-label" for="form2Example31"> Запомнить </label>
                                    </div>
                                </div>

                                <div class="col">
                                    <!-- Simple link -->
                                    <a href="{% url 'users:password_reset' %}">Забыли пароль?</a>
                                </div>
                            </div>

                            <input type="submit" value="Войти" class="btn btn-primary btn-block mb-8 col-12">
                        </form>
                    </div> <!-- card body -->
                </div> <!-- card -->
            </div> <!-- col -->
        </div> <!-- row -->
    </div>
{% endblock %}