{% extends 'base.html' %}
{% block title %}
    Регистрация
{% endblock %}

{% block content %}
    <div class="container">
        {% load user_filters %}
        <div class="row justify-content-center">
            <div class="col-md-4 p-5">
                <div class="card">
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="form-outline mb-4" aria-required="true">
                                    {{ field|add_fk_ph:field.label }}
                                </div>
                            {% endfor %}
                            <input type="submit" value="Зарегистрироваться"
                                   class="btn btn-primary btn-block mb-8 col-12">
                        </form>
                    </div> <!-- card body -->
                </div> <!-- card -->
            </div> <!-- col -->
        </div> <!-- row -->
    </div>
{% endblock %}